@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    place-items: center;
    padding: 0 2rem;
  }
}

.select-temp-container, .degrees-container {
  font-size: x-small;
  display: flex;
  flex-direction: column;
}

input[type=number],select {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  background: linear-gradient(120deg, #37215c, #602b75, #ae447f, #e6755e, #ffb56b);
}